/** MENUS **/
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

/**mobile-menu**/
div.off-canvas {
	height: 100%;

}
.title-bar {

	
}


/**desktop-menu**/

[data-sticky] {
	max-width: 100%;
}
.footer{
	height:400px;
	background-color: blue;
}
.top-bar {
	transition: all .35s;

}

.is-stuck .top-bar {
	padding: 1rem;
	transition: all .35s;
}
.is-at-bottom .top-bar {
	padding: 1rem;
	transition: all 0s;
}