/**desktop-nav**/
//sticky container and contents
[data-sticky] {
	width: 100%;
}
.sticky-container {

}
.top-bar {
	transition: all .35s;
	width:100%;
	.top-bar-title h1 {
		display: none;
	}
}
.is-stuck .top-bar {
	padding: 1rem;
	transition: all .35s;
	.top-bar-title h1 {
		display: inline-block;
		color: $secondary-color;
	}
}
.is-at-bottom .top-bar {
	padding: 1rem;
	transition: all 0s;
}
//button group styles
.btn-group {
	@include button-group-expand('.hollow-button');
	.hollow-button:first-child {
    border-radius: rem-calc(0 0 0 0);

  }
  .hollow-button:last-child {
    border-radius: rem-calc(0 0 0 0);
  }
	

}
.hollow-button {
	@include button ($style:hollow);
	
}
