/**desktop-nav**/
//sticky container and top-bar elements
// For buttons - refer to _buttons.scss component under "Nav Buttons"

/**desktop-nav**/

[data-sticky] {
	width: 100%;
}
.sticky-container {
	height:rem-calc(77) !important;
}
.top-bar {
	padding: 2rem 0 0 0;
	transition: padding .25s ease;
	.top-bar-title {
		padding:0 0 0 0;
		height: 0;
		margin-bottom: 0;
		opacity:0;
		transition: opacity .2s ease-in;
		-webkit-transition: opacity .2s ease-in;
		
		& h1 {
			opacity:0;
			transition: opacity .2s ease-in;
			-webkit-transition: opacity .2s ease-in;
			color: $primary-color;
			font-size: rem-calc(22);
		}
	}
}

.is-stuck .top-bar {
	padding: .5rem 0 0 0;
	transition: padding .25s ease;
	.top-bar-title {
		height: rem-calc(30);
		opacity:1;
		transition: all .1s ease-out;
		-webkit-transition: opacity .1s ease-out;

		& h1 {
			padding: 0 0 0.5rem 0.5rem;
			opacity:1;
			transition: all .1s ease-out;
			-webkit-transition: opacity .1s ease-out;
		}	
	}
}



.is-at-bottom .top-bar {
	transition: all 1s;
}