.content h3 {
	padding-top:20px;
	color: $dark-gray;
}

p [class^='fi-'], div[class*='fi-'] {
	font-size: rem-calc(130);
	line-height: .9;
	color: $primary-color;
	-webkit-transition: 1s ease;
		transition: 1s ease;
	&:hover {
		color: darken($primary-color, 10%);
		-webkit-transition: 1s ease;
		transition: 1s ease;
	}
}
.content {
	padding: rem-calc(15);
}
