/**mobile-nav**/
div.off-canvas {
	height: 100%;

}
.title-bar {
	padding: 2rem 0 0 0;
	transition: padding .25s ease;

}

.is-stuck .title-bar {
	padding: .5rem;
	transition: all .35s;
	background-color: $primary-color;
	& button.menu-icon::after {
		background: $white;
		box-shadow: 0 7px 0 $white, 0 14px 0 $white;
		:hover {
			background: $light-gray;
			box-shadow: 0 7px 0 $light-gray, 0 14px 0 $light-gray;
		}
	}
}	



.is-at-bottom .title-bar {
	padding: .5rem;
	transition: all 0s;
}

.close-button-area {
	background-color: $white;
	height: rem-calc(35);
	width:auto;
		
}
.off-canvas h3 {
		color: $primary-color;
		padding: rem-calc(10 0 0 5);
		align: baseline;
	} 

.close-button {

}