/**desktop-nav**/

[data-sticky] {
	width: 100%;
}
.sticky-container {
	height: 98.237px;
}
.footer{
	height:400px;
	background-color: blue;
}
.top-bar {
	transition: all .35s;

}

.is-stuck .top-bar {
	padding: 1rem;
	transition: all .35s;
}
.is-at-bottom .top-bar {
	padding: 1rem;
	transition: all 0s;
}