/**mobile-nav**/
div.off-canvas {
	height: 100%;

}
.title-bar {
	transition: all .35s;

}
/**
.is-stuck .title-bar {
	padding: .5rem;
	transition: all .35s;

}

.is-at-bottom .title-bar {
	padding: .5rem;
	transition: all 0s;
}
**/