<form>
	<div class="row">

		<div class="medium-6 columns">
			<label>Text Input
				<input type="text" placeholder="Insert text here">
			</label>
		</div>

		<div class="medium-6 columns">
			<label>Number Input
				<input type="number" value="10">
			</label>
		</div>

		<div class="medium-6 columns">
			<label>Text Area
				<textarea type="text" placeholder="None"></textarea>
			</label>
		</div>

		<div class="medium-6 columns">
			<label>
				<select multiple>
					<option value="husker">Husker</option>
					<option value="starbuck">Starbuck</option>
					<option value="Hotdog">Hotdog</option>
					<option value="Apollo">Apollo</option>
				</select>
			</label>
		</div>

		<div class="medium-6 columns">
			<label>
				<input type="password" aria-describeby="passwordHelpText">
			</label>
			<p class="help-text" id="passwordHelpText">Your password must have 10 characters, a number and an emoji</p>
		</div>
	</div>

	<div class="row">
		<div class="small-3 columns">
			<label for="middle-label" class="text-right middle">Text right label</label>
		</div>
		<div class="small-9 columns">
			<input type="text" id="middle-label" placeholder="Right aligned text input">
		</div>

		<div class="input-group">
			<span class="input-group-label">€</span>
			<input type="number" class="input-group-field">
			<div class="input-group-button"><input type="submit" class="button" value="submit">
			</div>
	</div>
</form>