<div data-sticky-container class="sticky-container">
<div class="sticky" id="sticky-magellan" data-sticky data-margin-top="0" style="width:100%;" data-margin-bottom="0" data-top-anchor="anchor_" data-btm-anchor="bottomOfContentId:bottom">
    
    <nav data-magellan class="desktop-nav hide-for-small-only">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="has-submenu">
            <a href="#">Item 1</a>
            <ul class="menu submenu vertical" data-submenu>
              <li><a href="left_wide_11">Left wide 1</a></li>
              <li><a href="left_wide_12">Left wide 2</a></li>
              <li><a href="left_wide_13">Left wide 3</a></li>
            </ul>
          </li>
          <li class="has-submenu">
            <a href="#">Item 2</a>
            <ul class="menu submenu vertical" data-submenu>
              <li><a href="left_wide_21">Left wide 1</a></li>
              <li><a href="left_wide_22">Left wide 2</a></li>
              <li><a href="left_wide_23">Left wide 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

  </div>
  </div>