<div class="row hide-for-small-only" data-sticky-container>
  <div class="medium-12 column" data-sticky data-margin-top='0' data-top-anchor="header:bottom" data-btm-anchor="content:bottom">
    <nav class="top-bar"> 
      <div class="top-bar-title">
        <img src="http://placehold.it/150x38" alt="" />
      </div> 
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Thing 1</a></li>
          <li><a href="#">Thing 2</a></li>
          <li><a href="#">Thing 3</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>