<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
		
		<!-- end part one of offcanvas element-->
		<header id="header" class="row header">
		<div class="medium-6 columns align-middle">
			<H2>Nested, a web design & development studio based in Dublin, Ireland</H2>
		</div>
		<div class="medium-6 columns text-center">

			<p><img src="http://placehold.it/300x200&text=this is an SVG/ffffff" alt=""></p>
			<button class="hollow-button">Button</button>
		</div>
		
		</header>