<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
		
		<!-- end part one of offcanvas element-->
		
		<header id="header" class="row">
		<div class="medium-6 columns text-center">
			
			<p><img src="http://placehold.it/300x200&text=this is an SVG/000000" alt="Placeholder Image"></p>
			<a class="cta-button">Button</a>
		</div>
		<div class="medium-6 columns align-middle">
			<H2>Web Design<br>Development<br>Dublin<br>Ireland</H2>
		</div>
		
		</header>