<div class="off-canvas-wrapper">
	<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
		<!-- off-canvas left menu -->
		<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
			<ul class="vertical dropdown menu" data-dropdown-menu>
				<li><img src="" alt=""></li>
				<li><a href="left_item_1">Left item 1</a></li>
				<li><a href="left_item_2">Left item 2</a></li>
				<li><a href="left_item_3">Left item 3</a></li>
			</ul>
		</div>
		<!-- end part one of offcanvas element-->
		<header id="header" class="header column row">
		<img src="http://placehold.it/2000x500&text=this is a header" alt="header image">
		</header>