    <!-- off-canvas title bar for 'small' screen -->
    <nav data-sticky-container data-responsive-toggle="widemenu" data-hide-for="medium">
      <div class="sticky" data-options="marginTop:0;" data-sticky data-sticky-on="small" style="width:100%;">
        <div class="title-bar">
          <div class="title-bar-left">
          <button class="menu-icon" type="button" data-toggle="offCanvasLeft"></button>

          </div>
        </div>
      </div>
    </nav>

    <!-- off-canvas left menu -->
    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas data-transition="overlap" data-force-top="true">
    <div class="close-button-area">
      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
          </button>
          </div>
      <ul class="vertical dropdown menu" data-dropdown-menu>
          
        {{> nav-list}}
      </ul>
    </div>


